.interna_contato {
  background: url("../img/banner-sobre.jpg") no-repeat center;
  background-size: cover;
}

.contato {
  padding: 40px 0;
}

.contato_form {
  padding-right: 60px;
}

.contato_form label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato_form input {
  display: block;
  width: 80%;
  border: 3px solid #140265;
  background: none;
  padding: 7px 5px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.contato_form textarea {
  display: block;
  width: 80%;
  height: 120px;
  border: 3px solid #140265;
  background: none;
  padding: 7px 5px;
  margin-bottom: 20px;
  outline: none;
  font-style: 14px;
  font-family: "Open Sans", sans-serif;;
}

.contato_form button {
  padding: 7px 40px;
  background: none;
}

.contato_dados h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #140265;
  font-weight: bold;
}

.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
}

.contato_dados span:nth-of-type(even) {
  margin-bottom: 10px;
}

.contato_dados ul {
  margin-top: 10px;
}

.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}

.contato_dados ul li a {
  display: block;
  padding: 5px;
}

.contato-mapa {
  padding: 410px 0 40px 0;
}
